*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}




.header {
    position: relative;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogo img {
    width: 100px;
    filter: invert(100);
}
.headerMenu {
    width: 40%;
}

.headerMenu ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    
}

.headerMenu ul li {
    display: inline-block;
    text-transform: uppercase;
    }



 /*
.header{
    background-color: black;
    color: white;
}
.headerlogo img{
    width: 100px;
    filter: invert(100);
}

.header ul{
    float: right;
} */


a{
    color: white;
}



.fotoinicio {
        width: 100%;
        height: 100rem;
        background-image: url(../index/imagenes/fotoinicio.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }

        /*biografia*/

.parrafo{
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 3rem;
}
.parrafo2{
    font-family: 'Recursive', sans-serif;
    text-align: center;

}
.biografia{

    /*background-image: url(../index/imagenes/fotoinicio.jpg);*/
        color: white;
        background-color:rgb(51, 59, 59);
        padding: 50px;
        align-items: center;
        height: 30vh;
        font-size: 1.25rem;

}

.footer{
    background-color:black ;
    padding: 5%;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
}

.footerSocial a {
    margin-left: 10px;
}

.footerSocial img {
    width: 30px;
}

/* ARTISTAS */

.artistas{
    background-color: black;
}
.artistas h1{
color: white;
   text-align: center;
}

.contenedor{
    background-color: black;
    width: 100%;
    margin: auto;
}

img{
    width: 100%;
}

.persona__columna {
    margin: 5px;
}

.personas .contenedor{
    display: grid;
}

/* merchandising*/

.merchandising{
    background-color: black;
}
.merchandising h1{
color: white;
   text-align: center;
}

/*releaes*/
.releases{
    background-color: black;
    
}
.releases h1{
color: white;
   text-align: center;
}

.video-youtube{
    border: 3px solid blue ;
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
   
}

.video-youtube iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
    
.youtube-wrapper {
    width: 50%;
    align-items: center;
}

/*
.flex-container{
    display: flex;
}
.flex-conainer  img {
    text-align: center;
}
 */

/* contactos */




/* GRID MEDIA QUERIES*/

@media(min-width:520px){
    .personas .contenedor{
        grid-template-columns: repeat(2,50%);
    }
}

@media(min-width:728px){
    .personas .contenedor{
        grid-template-columns: repeat(3,33.3%);
    }
}

